@import "../../../node_modules/bootstrap/scss/bootstrap";

body {
  background: url("../images/background.jpg");
}

.App {
  background: yellow;
  min-height: 90vh;
}

.tile {
  display: inline-block;
  border: 1px solid black;
  background-repeat: no-repeat !important;
  padding: 10px;
  margin: 10px;
  p {
    margin: 100px 0 0 0;
  }
}
