$orange: #ffab00;
$green: #64dd17;
$bright: #fff8e1;

@import "../../../node_modules/bootstrap/scss/bootstrap";

body {
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#logo {
  width: 50%;
  max-width: 400px;
  height: 200px;
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.App {
  background: linear-gradient(30deg, #ffab00, #ffcd05);
  border-radius: 15px;
  color: $bright;
  font-size: 1.2rem;
  .green-rounded-box {
    background: $bright;
    border: 2px solid $green;
    color: $green;
    border-radius: 10px;
    padding: 5px 12px;
  }
  button:hover {
    background: $green;
    color: $bright;
    transition: all 0.4s;
  }
  .chekbox-no-check {
    color: red;
    input {
      display: none;
    }
    input:checked + span {
      color: $green;
    }
  }
  input {
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 5px 10px;
  }
  .range-input {
    display: block;
    width: 100%;
  }
  .remove-pokemons-btn {
    font-size: 1.5rem;
  }

  .scope-display {
    font-size: 1.7rem;
    > span {
      background: $bright;
      color: $green;
      padding: 2px 10px;
      border-radius: 15px;
    }
  }
  .pokemons-list {
    border-radius: 15px;
    min-height: 30vh;
    background: $bright;
  }

  .tile {
    border-radius: 15px;
    border: 2px solid $orange;
    > div {
      min-width: 120px;
      min-height: 75px;
      background-repeat: no-repeat !important;
      background-position: center !important;
    }
    p {
      color: $green;
      font-size: 1.2rem;
      padding: 0 5px;
    }
    &:hover,
    &:active {
      border-color: $green;
      background: $green;
      p {
        color: $bright;
      }
      transition: all 0.4s;
    }
  }
}

footer {
  background: $bright;
  color: $orange;
  font-size: 1.2rem;
}
